<div class="modal-header">
  <button type="button" class="close" ng-click="deleteModalCtrl.cancel()">&times;</button>
  <h4 class="modal-title">Delete Weatherpic</h4>
</div>
<div class="modal-body">
  <div>Are you sure you wish to delete this Weatherpic?</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="deleteModalCtrl.cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="deleteModalCtrl.deletePic()">Delete Weatherpic</button>
</div>
